


/*===============Base Styles===============*/
body{
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #141414;
}

/*===============Header===============*/
header{
    background-color: #5e0fac;
    font-size: 20px;
    text-align: center;
}


/*===============Section===============*/
section{
    margin: 20px;
}


/*===============Footer===============*/
footer{
    background-color: #5c3a3a;
}


nav a{
    color:aliceblue;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 0;
    margin: 0;
}


#banner {
    width: 80%;       /* cobre toda a largura da tela */
    height: 350px;     /* ajuste manual da altura */
    object-fit: cover; /* mantém proporção e corta se necessário */
    display: block;    /* remove espaçamento extra de inline */
    margin: 30px auto;
    border-radius:10px;
}

#divHome {
    width: 50%;       /* cobre toda a largura da tela */
    object-fit: cover; /* mantém proporção e corta se necessário */
    display: block;    /* remove espaçamento extra de inline */ 
    margin: auto;
}


#divtxtPrincipal {
    color:aliceblue;
}
#ideiaPrincipal{
    color:aliceblue;
    width: 70%;
    margin: 50px auto;
    background-color: #222;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
    line-height: 1.8;
}

#titleprincipal{
    color:aliceblue;
}

#bthome{
    color: aliceblue;
}